.customized_from {
  width: 14rem;
}

.customized_year {
  width: 12rem;
}

.customized_options {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.customized_options > * {
  margin-top: 1rem;
}

.customized_slider {
  align-items: center;
  display: flex;
  width: 30rem;
}

.customized_slider > * {
  margin-right: 1rem;
}

.customized_slider > * > * {
  width: 7rem;
}
